@import "@/app/variables.module.scss";
$btnColor: #f4f6f9;

.sider {
  height: 100%;
  max-height: 100%;
  overflow: auto;
  background-color: #fff;

  padding: 16px;

  border-radius: 4px;
  .btnWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 44px;
    background: $btnColor;
    border-radius: 4px;
    padding: 4px;

    .btn {
      @include alignCenter();
      justify-content: center;
      cursor: pointer;
      border-radius: 4px;
      transition: $transition;
      background: $btnColor;

      &:hover {
        background: #fff;
        color: $color-active;
      }
    }
    .active {
      background: #fff;
      color: $color-active;
    }
  }
  .menuList {
    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 0 8px;
      color: $color;
      height: 36px;
      background: #fff;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #1d2129;
      line-height: 20px;
      &:hover {
        color: $color-active;
        background: #f4f6f9;
        border-radius: 4px;
      }
      .count {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #c9cdd4;
        line-height: 20px;
      }
    }
    .active {
      color: $color-active;
    }
  }
}
