@import "@/app/variables.module.scss";
.container {
  position: relative;

  .banner {
    position: relative;
    height: 380px;
    padding: 119px 0 150px 360px;

    .bannerTitle {
      position: relative;
      font-size: 40px;
      font-family: Helvetica;
      color: #ffffff;
      line-height: 57px;
      letter-spacing: 2px;
      margin: 0 auto 14px;
    }
    .subTitle {
      position: relative;
      width: 504px;
      height: 40px;
      font-size: 28px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #ffffff;
      line-height: 40px;
    }
  }
  .title {
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 32px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #1d2129;
    line-height: 45px;
  }
  @mixin paddingTop {
    padding-top: 80px;
    box-sizing: border-box;
  }
  .flow {
    height: 639px;
    background: #e0eaf2;
    @include paddingTop();
  }
  .provide {
    background-color: #fff;
    height: 1029px;
    @include paddingTop();
  }
  .scene {
    position: relative;
    height: 651px;
    padding-top: 80px;
    box-sizing: border-box;
    @include paddingTop();
    padding-top: 96px;
    .title {
      margin-bottom: 44px;
    }
    .main {
      position: relative;
      @include alignCenter();
      justify-content: center;
      gap: 66px;
      .left {
        flex: 0 0 460px;
        .sceneTitle {
          font-size: 24px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: $color;
          line-height: 33px;
          margin: 0 auto 16px;
        }
        .desc {
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #4e5969;
          line-height: 24px;
          margin: 0 auto 24px;
        }
        .subTitle {
          font-size: 14px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: $color;
          line-height: 24px;
        }
      }
    }
  }
}
