@import "@/app/variables.module.scss";
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  height: 270px;
  transition: $transition;
  &.swiper-slide-next {
    img {
      transform: scale3d(1.2, 1.2, 1);
    }
  }
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: $transition;
}
