@import "@/app/variables.module.scss";
@mixin title {
  @include ellipsis;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: $color;
  line-height: 22px;
  text-shadow: 0px 5px 20px rgba(11, 24, 52, 0.1);
}
@mixin content {
  @include ellipsis;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #4e5969;
  line-height: 22px;
  text-shadow: 0px 5px 20px rgba(11, 24, 52, 0.1);
  margin: 0 auto 8px;
}
@mixin desc {
  @include alignCenter;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #86909c;
  line-height: 17px;
  text-shadow: 0px 5px 20px rgba(11, 24, 52, 0.1);
  margin: 0 auto 32px;
}
@mixin count {
  font-size: 24px;
  font-family: Kingsoft_Cloud_Font;
  color: #ff913f;
  line-height: 34px;
  text-shadow: 0px 5px 20px rgba(11, 24, 52, 0.1);
  margin-right: 4px;
}
@mixin unit {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #4e5969;
  line-height: 20px;
  text-shadow: 0px 5px 20px rgba(11, 24, 52, 0.1);
}
@mixin priceWrap {
  @include alignCenter();
  .count {
    @include count();
  }
  .unic {
    @include unit();
  }
}

@mixin titleWrap {
  @include alignCenter();
  margin: $mb16;
  .tag {
    margin-right: 8px;
  }
  .title {
    @include title();
  }
}
.card {
  background-color: #fff;
  padding: 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: $transition;
  &:hover {
    box-shadow: 0px 5px 20px 0px rgba(11, 24, 52, 0.1);
  }
  .img {
    margin: $mb16;
  }
  .titleWrap {
    @include alignCenter();
    margin: $mb16;
    .tag {
      margin-right: 8px;
    }

    .title {
      @include title();
    }
  }
  .content {
    @include content();
  }
  .desc {
    @include desc();
  }
  .priceWrap {
    @include priceWrap();
  }
}
.list {
  background-color: #fff;
  padding: 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: $transition;
  &:hover {
    box-shadow: 0px 5px 20px 0px rgba(11, 24, 52, 0.1);
  }

  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 16px;
  .right {
    display: flex;
    justify-content: space-between;

    .left {
      .titleWrap {
        @include alignCenter();
        margin-bottom: 8px;

        .tag {
          margin-right: 8px;
        }
        .title {
          @include title();
        }
      }
      .desc {
        @include desc();
        margin: 0 auto 8px;
      }
      .content {
        @include content();
        margin-bottom: 0;
      }
    }
    .right {
      .priceWrap {
        @include priceWrap();
      }
    }
  }
}
