.card {
  background-color: #fff;
  padding: 8px;
  display: grid;
  gap: 0 16px;
  grid-template-columns: 150px 1fr;
  border-radius: 4px;
  cursor: pointer;
  .right {
    padding: 16px 0 0;
    .title {
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #1d2129;
      line-height: 22px;
      margin-bottom: 16px;
    }
    .desc {
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #4e5969;
      line-height: 22px;
      margin-bottom: 16px;
    }
    .row {
      margin-bottom: 8px;
      display: flex;

      .key {
        margin-right: 4px;
        font-size: 12px;

        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #86909c;
        line-height: 17px;
      }
      .value {
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #86909c;
        line-height: 17px;
      }
    }
    .viewWrap {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #86909c;
      line-height: 17px;
      .icon {
        margin-right: 4px;
      }
    }
  }
}
